<div class="h-screen">
  <header class="flex items-center justify-between h-16 px-6 bg-white border-b">
    <h1 class="text-2xl">Feature Requests</h1>
    <nav>
      <h2 class="visuallyhidden">Main Menu</h2>
      <ul>
        <li>
          <a href="#" class="text-orange-500">
            Login
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <main class="flex flex-col p-6">
    {{outlet}}
  </main>
</div>